<div class="introtext-news">
    <div class="news-icon">
                 <h1 class="d-none d-sm-block" >TOX-RS</h1>
           <div class="news-icon-picture"></div>
    </div>
     <div style="padding-right: 15px;"></div>
<div id="newsMainTheme" class="news-main-theme">
<div class="news-title-small">
Former Zuckerberg professor says he saw problem when presented to the Facebook prototype
</div>
           <div  class="show_newss" data-toggle="collapse" 
                       data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Learn more...</div>
</div>
</div>