<div class="p-login">
    <div class="b-panel b-panel--login" md-theme="altTheme">
        <div class="b-panel__header">
            <h2>Login</h2>
        </div>
        <div class="b-panel__body">
            <md-input-container>
                <label>Email</label>
                <input ng-model="user.email" type="email">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="user.password" type="password">
            </md-input-container>

            <md-button class="md-raised md-warn" ng-click="login()">Log In</md-button>
        </div>
    </div>
</div>
